# -----------------------------------------------------------------
#
# .gitignore for Home Assistant
# https://github.com/JesseWebDotCom/home-assistant-configuration
#
# This file prevents git from publishing sensitive files
#
# -----------------------------------------------------------------

# Ignore everything
*

# include git files
!.gitignore
!readme.md

# include core files
!configuration.yaml
!ui-lovelace.yaml

# include example files
!secrets.example.yaml

# include certain directories and contained files
!config/**/*.yaml
!custom_components/**/*.py
!www/custom-lovelace/**
!www/images/stock/**
!www/images/menu/**
!www/images/doc/**
!www/sounds/**