# -----------------------------------------------------------------
#
# .gitignore for Home Assistant
# https://github.com/JesseWebDotCom/home-assistant-configuration
#
# This file prevents git from publishing sensitive files
#
# -----------------------------------------------------------------

# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
custom_components
deps
esphome
node-red
tensorflow
tts
www

# Specific file ignores
.ios.conf
.ps4-games.json
.uuid
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
harmony_*.conf
zwscene.xml

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Ignore add-on files


# Ignore files created by IDE's
